.articles > li {
    margin: 10px;
    padding: 10px;
}

.articles > li >div:nth-child(1) {
    font-size: 14px;
    text-decoration: underline;
    font-style: italic;
}

.articles > li >div:nth-child(2) {
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

.articles > li >div:nth-child(3) {
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#mainHeader {
    margin-left: 64px;
}

#mainHeader > h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
}

.imgClass {
    width: 80vw;
}